---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'Covalence - Collaborative ownership empowering organizations and projects',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contact',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:mail',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/logo_alpha.png', alt: 'Covalence Hero Image' }}
  >
    <Fragment slot="title">
      Collaborative ownership empowering organizations and projects
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Covalence</span> is a toolkit enabling tailored equity methodologies for organizations and projects, big and small.
      </span>
    </Fragment>
  </Hero>

  <Features
    id="features"
    title="Features"
    subtitle="Capabilities of a new paradigm"
    items={[
      {
        title: 'Valuation and distribution',
        description:
          'Enabling projects to perform valuation and distribution.',
        icon: 'tabler:math-integral',
      },
      {
        title: 'Tailored to your context',
        description:
          'Easily craft a methodology that fits your organization or project, with a range of options to choose from.',
        icon: 'tabler:components',
      },
      {
        title: 'Opt-in privacy',
        description:
          'Use methodologies where everything is private, leveraging fully homomorphic encryption.',
        icon: 'tabler:shield',
      },
      {
        title: 'Open source',
        description:
          'All code is open source, and we encourage you to contribute to the project.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Dynamic',
        description:
          "Leverage dynamic data for powerful methodologies, such as on-chain, off-chain via oracles, etc.",
        icon: 'tabler:affiliate',
      },
      {
        title: 'General toolkit',
        description:
          'A general toolkit flexibly supporting a multitude of methologies.',
        icon: 'tabler:bulb',
      },
    ]}
  />


  <Steps
    title="How to use"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Methodology determination</span>',
        description:
          "Using Covalence's methodology builder, you can easily craft a methodology that fits your organization or project, with a range of options to choose from.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Group uses methodology</em>',
        description:
          "The group uses the methodology to track their contributions or other relevant data. This will lead to valuation and distribution.",
        icon: 'tabler:activity',
      },
      {
        title: 'Step 3: <span class="font-medium">Benefit, iterate</span>',
        description:
          'Each participant will benefit from the process. The group can iterate on the methodology to improve it.',
        icon: 'tabler:repeat',
      },
      {
        title: 'Enjoy',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1548318281-7da3085ce691?q=80&w=2841&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Steps image',
    }}
  />

  <Features2
    title="Use cases"
    subtitle="The many useful ways of Covalence"
    columns={3}
    items={[
      {
        title: 'Cap table management',
        description:
          'Trustworthy and flexible management of capitalization tables, with support for the tried-and-true valuation models as well as new ones.',
        icon: 'tabler:article',
      },
      {
        title: 'Music and movies',
        description:
          'Efficiently and effectively allocate value across an entire production and distribution lifecycle. Incorporate distribution, merchandizing, marketing, and influencing into the overall stakeholder table with dynamic indentive and behavioral models.',
        icon: 'tabler:music',
      },
      {
        title: 'Open source',
        description:
          'Fairly and transparently allocate value to the entire ecosystem of interdependent software modules and libraries. Understand how different types of incentive models can associate with risk regarding delivery and support of new and existing capabilities.',
        icon: 'tabler:brand-open-source',
      },
      {
        title: 'Fund accounting',
        description: `Explore new models of mutually reflective shared vested interests between different entities in an entire ecosystem. Invest in a diversified ecosystem fund index, with mutual credit mechanisms for early fungibility and also liquidity.`,
        icon: 'tabler:abacus',
      },
      {
        title: 'Open datasets',
        description:
          'Data is increasingly less valuable without context and the ability to recontextualize efficiently. Providing dynamic, adaptable and retroactive valuation mechanisms for data, whether public or private, can ensure price discovery and also provenance with privacy.',
        icon: 'tabler:database',
      },
      {
        title: 'DAOs',
        description:
          'A toolkit for DAOs to manage their stakeholder tables for governance and issuance. Provide dramatically more transparency regarding risks related to the intersection between different governance models.',
        icon: 'tabler:users',
      }
    ]}
  />

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'How to use it?',
        description:
        "As of late 2023 and early 2024, we are operating in a private alpha stage. We ask you to reach out so we can discuss your requirements and work together closely for success."
      },
      {
        title: 'What is Covalence?',
        description:
          'Covalence is a toolkit enabling tailored equity methodologies for organizations and projects, big and small. It is a new paradigm for collaborative ownership, empowering organizations and projects.',
      },
      {
        title: 'Does it require web3?',
        description:
          "It doesn't require web3 to use the service, as one can log in with common authentication providers. That said, Covalence is built on decentralized technologies to offer its full potential.",
      },
      {
      title: 'Licensing',
        description:
          "We are using the AGPLv3 license for the codebase, and the CC-BY-SA 4.0 license for the content. We offer a commercial license for those who need it. Please reach out for more information.",
      },
    ]}
  />

  <Brands
    title="Trusted by"
    subtitle="At our core, we believe in collaboration."
    icons={[]}
    images={[
      {
        src: '~/assets/images/others/film3.png',
        alt: 'Film3',
        url: 'https://film3.org',
      }
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact',
        href: '/contact',
        target: '_blank',
        // icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
Let's talk
    </Fragment>

    <Fragment slot="subtitle">
      Reach out for early partnership, or for any question.
    </Fragment>
  </CallToAction>

</Layout>
