---
import { SITE } from '~/utils/config';
import Image from '~/components/common/Image.astro';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <Image
  class="mx-auto rounded-md w-full inline pb-1"
  loading="eager"
  height={40}
  width={40}
  src="~/assets/images/logo_alpha.png", 
  alt="Covalence Logo"
/>
  {SITE?.name}
</span>